.react-draft-wysiwyg-wrapper {
    border: 0.1em solid #dfdfdf;
    border-radius: 0.2em;
    overflow: hidden;
}

.react-draft-wysiwyg-wrapper > .rdw-editor-toolbar {
    margin: unset;
    border: unset;
    border-bottom: 0.1em solid #dfdfdf;
}

.react-draft-wysiwyg-editor {
    padding: 0 1em 1em;
    cursor: text;
}

.react-draft-wysiwyg-editor > .DraftEditor-root {
    min-height: 200px;
}
